.row-attr {
  display: flex;
  padding: 5px 5px 6px;
}

//generate payment colors
@each $key, $value in $payment-types {
  .row-attr--#{$key} {
    position: relative;
    @include z-index(above);
  
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: fade-out($color: $value, $amount: 0.95);
      @include z-index(below);
      content: '';
    }
  }
}

.row-attr--striped:nth-child(2n + 1) {
  background-color: rgba(0, 0, 0, 0.05);
}

.row-attr__val {
  flex-grow: 1;
  padding-left: 20px;
  text-align: right;
}
