@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.section-load {
  position: relative;
}

.section-load__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: map-get($map: $font-sizes, $key: big);
  margin-top: map-get($map: $font-sizes, $key: big) / -2;
  margin-left: map-get($map: $font-sizes, $key: big) / -2;
  color: #777;
  animation: rotate 1s linear infinite;
}

.section-load__overlay {
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  display: flex;
  min-height: 40px;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  @include z-index(section-loading);

  &.active {
    opacity: 1;
    visibility: visible;
  }
}


.section-load__overlay--error {
  background-color: rgba(255, 0, 0, 0.4);
}

.section-load__overlay--loading {
  background-color: rgba(255, 255, 255, 0.85);
}
