@use "objects.grid";
@use "settings.breakpoints" as settings2;
@use "settings.framework";
@use "tools.mixins";

/* text aligning */

$text_aligns: (left, center, right, justify);

//text align basic
@if settings.$framework-text-aligns-basic {
  @each $item in $text_aligns {
    .text-#{$item} {
      text-align: #{$item};
    }
  }
}

//text align responsive
@if settings.$framework-text-aligns-responsive {
  @each $key, $value in settings2.$breakpoints-global {
    @each $item in $text_aligns {
      .text-#{"" + $key}-#{$item} {
        @include tools.break($key) {
          text-align: #{$item};
        }
      }
    }
  }
}
