@use "objects.grid";
@use "settings.breakpoints" as settings2;
@use "settings.framework";
@use "tools.mixins";

@if settings.$framework-visibility-basic {
  .hidden {
    display: none;
  }

  .visible {
    display: block;
  }

  .visible-flex {
    display: flex;
  }

  .visible-inline {
    display: inline-block;
  }
}

$display-types: (
  default: "block",
  flex: "flex",
  inline: "inline-block"
);

@if settings.$framework-visibility-responsive {
  @each $key, $value in settings2.$breakpoints-global {
    @each $display-name, $display-val in $display-types {
      $class-middle: "";
      @if $display-name != "default" {
        $class-middle: "-#{$display-name}";
      }
      .visible-#{"" + $key}#{$class-middle} {
        @include tools.break($key) {
          display: #{$display-val};
        }
      }
    }
  }

  @each $key, $value in settings2.$breakpoints-global {
    .hidden-#{"" + $key} {
      @include tools.break($key) {
        display: none;
      }
    }
  }
}
