@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "settings.breakpoints" as settings2;
@use "settings.grid";
@use "tools.mixins";

.grid {
  display: flex;
  flex-flow: row wrap;
  @if map.has-key(settings.$grid_sizes, "default") {
    margin-left: #{- map.get(settings.$grid_sizes, "default") + "px"};
  } @else {
    @warn "No default grid size found.";
  }
}

.grid--center {
  justify-content: center;
}

/* grid size - gap between grid items */
@each $key, $value in settings.$grid_sizes {
  @if $key != "default" {
    .grid--#{$key} {
      margin-left: #{- $value + "px"};

      > .grid__item {
        padding-left: #{$value + "px"};
      }
    }
  }
}

@if settings.$framework-grid-vertical-aligns {
  .grid--items-bottom {
    align-items: flex-end;
  }

  .grid--items-center {
    align-items: center;
  }

  .grid--items-top {
    align-items: flex-start;
  }
}

.grid__item {
  flex: 0 0 auto;
  width: 100%;
  @if map.has-key(settings.$grid_sizes, "default") {
    padding-left: #{map.get(settings.$grid_sizes, "default") + "px"};
  } @else {
    @warn "No default grid size found.";
  }
}

@if settings.$framework-grid-vertical-aligns {
  .grid__item--v-center {
    align-self: center;
  }
}

/* grid item spacing after break */
@if settings.$framework-grid-break-spacing {
  @each $key in settings2.$breakpoints-grid {
    @for $i
      from settings.$grid-item-break-spacing-start
      through settings.$grid-item-break-spacing-end
    {
      .grid__item--break-#{$key}-#{$i * settings.$grid-item-break-spacing-step} {
        @include tools.break($key) {
          padding-top: ($i * settings.$grid-item-break-spacing-step) + px;
        }
      }
    }
  }
}

/* grid items ordering after break */
@if settings.$framework-grid-break-ordering {
  @each $key in settings2.$breakpoints-grid {
    @for $i
      from settings.$grid-item-break-ordering-start
      through settings.$grid-item-break-ordering-end
    {
      .grid__item--order-#{$key}-#{$i} {
        @include tools.break($key) {
          order: $i;
        }
      }
    }
  }
}

/* generate grid spans */

//non-responsive spans, example: .grid__item--xs-span-3
@if list.length(settings2.$breakpoints-grid) > 0 {
  $key: list.nth(settings2.$breakpoints-grid, 1);
  @for $i from 1 through settings.$grid_cols {
    .grid__item--#{$key}-span-#{$i} {
      flex: 0 0 auto;
      width: #{math.div($i, settings.$grid_cols) * 100 + "%"};
    }
  }
}

//responsive spans from the smallest breakpoint, example: .grid__item--sm-span-3, .grid__item--lg-span-8
@if list.length(settings2.$breakpoints-grid) > 1 {
  @for $i from 2 through list.length(settings2.$breakpoints-grid) {
    $key: list.nth(settings2.$breakpoints-grid, $i);
    $key_break: list.nth(settings2.$breakpoints-grid, $i - 1);
    @for $i from 1 through settings.$grid_cols {
      .grid__item--#{$key}-span-#{$i} {
        @include tools.break-min($key_break) {
          flex: 0 0 auto;
          width: #{math.div($i, settings.$grid_cols) * 100 + "%"};
        }
      }
    }
  }
}
