$colors: (
  blue: #2499f2,
  blue-dark: #354052,
  gray: #9fa9ba,
  gray-light: #eff3f6,
  green: #36af46,
  orange: #ff7800,
  purple: #7f5be6,
  red: #d54642,
  red-light: #f86b67,
  white: #fff,
  yellow: #f2a80a,
);
